body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.tindog-icon {
  color: #fff;
  margin-right: 15px;
  margin-left: 0;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.4rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.phone-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20Px 20px 50px 20px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-item {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}

.footer-icons {
  margin: 10px;
}

.footer-icons:hover {
  color: #ef8172;
}

.copyright {
  margin: 15px;
}

@media (max-width: 1028px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #title {
    text-align: center;
  }

  .phone-img {
    position: static;
    transform: rotate(0);
  }

  .cta-heading {
    font-size: 2rem;
  }
}
